run:
  susie: False
  susier: True
  ld_correlation: False

 # The pipe will enable the use of correlation matrix based on LD as specified in link below:
 # https://stephenslab.github.io/susieR/articles/finemapping_summary_statistics.html
 # If set to False (default), it will use the genotypes coded with additive model
 # together with the phenotype to evaluate the RSS model.


# paths
workspace_path: "results/interval_test"
path_lb: "/scratch/dariush.ghasemi/projects/pqtl_pipeline_finemap/results/test_interval/collected_loci.csv"
path_gwas: "/exchange/healthds/pQTL/results/INTERVAL/qced_sumstats/outputs"
genotype: "/scratch/giulia.pontali/genomics_QC_pipeline/results_scratch/pgen/qc_recoded_harmonised/impute_recoded_selected_sample_filter_hq_var_new_id_alleles_"
path_pheno: "data/INTERVAL_NonImp_residuals_final.txt"


sumstat:
  pvalcol: "LOG10P"
  snpcol: "ID"
  chrcol: "CHROM"


# SusieR parameters
susieR:
 min_abs_corr: 0.5
 iter: 1000
 L: 10
 extension: 100000
 estimate_residual_variance: FALSE

