run:
  susie: False
  susier: True
  ld_correlation: False

 # The pipe will enable the use of correlation matrix based on LD as specified in link below:
 # https://stephenslab.github.io/susieR/articles/finemapping_summary_statistics.html
 # If set to False (default), it will use the genotypes coded with additive model
 # together with the phenotype to evaluate the RSS model.


# paths
workspace_path: "results/believe"
path_lb: "/exchange/healthds/pQTL/BELIEVE/Working_shared/LB/lb_snakemake.csv"
path_gwas: "/exchange/healthds/pQTL/BELIEVE/harmonized_gwas/"
genotype:  "/exchange/healthds/pQTL/BELIEVE/Genetic_QC_files/harmonized/pgen/qc_recoded_harmonised/impute_recoded_selected_sample_filter_hq_var_new_id_alleles_"
path_pheno: "data/INTERVAL_NonImp_residuals_final.txt"


sumstat:
  pvalcol: "MLOG10P"
  snpcol: "SNPID"
  chrcol: "CHR"
  study: "believe"
  n_samples: 9216


# SusieR parameters
susieR:
 min_abs_corr: 0.5
 iter: 1000
 L: 10
 extension: 100000
 estimate_residual_variance: FALSE

